In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#boses, items, weapons, classes, talismans

In [3]:
df_weapons = pd.read_csv('weapons.csv')

In [4]:
df_weapons.drop(['image', 'description', 'image', 'defence'], axis=1, inplace=True)

In [5]:
df_bosses = pd.read_csv('bosses.csv')
df_bosses.drop(['image', 'region', 'description', 'location', 'drops'], axis=1, inplace=True)

In [ ]:
df_items = pd.read_csv('items.csv')
df_items.drop

In [6]:
df_classes = pd.read_csv('classes.csv')
df_classes.drop(['image', 'description'], axis=1, inplace=True)

In [7]:
df_classes

,id,name,stats
0,17f69d71826l0i32gkm3ndn3kywxqj,Hero,"{'level': '7', 'vigor': '14', 'mind': '9', 'en..."
1,17f69b2dd76l0i32gljr3f62pkzhjo,Warrior,"{'level': '8', 'vigor': '11', 'mind': '12', 'e..."
2,17f69874f7bl0i32gmqaffmbfral8f,Astrologer,"{'level': '6', 'vigor': '9', 'mind': '15', 'en..."
3,17f69d43011l0i32gojnjjs9mcg0k,Bandit,"{'level': '5', 'vigor': '10', 'mind': '11', 'e..."
4,17f69d1f5f1l0i32grxfonsq64huhl,Prisoner,"{'level': '9', 'vigor': '11', 'mind': '12', 'e..."
5,17f69db959fl0i32hhpwdbjko0bj57,Vagabond,"{'level': '9', 'vigor': '15', 'mind': '10', 'e..."
6,17f69774a83l0i32hjagb1nwcs1hne,Confessor,"{'level': '10', 'vigor': '10', 'mind': '13', '..."
7,17f69d4ac46l0i32hju3peo5nijzbj,Wretch,"{'level': '1', 'vigor': '10', 'mind': '10', 'e..."
8,17f69932fefl0i32hlnekz682ixnvc,Prophet,"{'level': '7', 'vigor': '10', 'mind': '14', 'e..."
9,17f699f7f4cl0i32huaj53vkdxeh7b,Samurai,"{'level': '9', 'vigor': '12', 'mind': '11', 'e..."
10,17f69ee8607l0i32idtlwxck1pcnha,Warrior,"{'level': '8', 'vigor': '11', 'mind': '12', 'e..."
11,17f699f7b88l0i32igi1s4fq0046de,Enchanted Knight,"{'level': '5', 'vigor': '10', 'mind': '13', 'e..."
12,17f696a77e2l0i32ijd9jdi2d0lbe6,Bloody Wolf,"{'level': '5', 'vigor': '14', 'mind': '11', 'e..."
13,17f69a15924l0i32ioiaydv6hkjxhj,Champion,"{'level': '5', 'vigor': '13', 'mind': '9', 'en..."

In [8]:
import json

In [9]:
def fromDictToDf(df_classes):
    stats_df = pd.DataFrame([json.loads(stats.replace("'", '"')) for stats in df_classes['stats']])
    return pd.concat([df_classes[['id', 'name']], stats_df], axis=1)

In [12]:
fromDictToDf(df_classes=df_classes)

,id,name,level,vigor,mind,endurance,strength,dexterity,intelligence,faith,arcane
0,17f69d71826l0i32gkm3ndn3kywxqj,Hero,7,14,9,12,16,9,7,8,11
1,17f69b2dd76l0i32gljr3f62pkzhjo,Warrior,8,11,12,11,10,16,10,8,9
2,17f69874f7bl0i32gmqaffmbfral8f,Astrologer,6,9,15,9,8,12,16,7,9
3,17f69d43011l0i32gojnjjs9mcg0k,Bandit,5,10,11,10,9,13,9,8,14
4,17f69d1f5f1l0i32grxfonsq64huhl,Prisoner,9,11,12,11,11,14,14,6,9
5,17f69db959fl0i32hhpwdbjko0bj57,Vagabond,9,15,10,11,14,13,9,9,7
6,17f69774a83l0i32hjagb1nwcs1hne,Confessor,10,10,13,10,12,12,9,14,9
7,17f69d4ac46l0i32hju3peo5nijzbj,Wretch,1,10,10,10,10,10,10,10,10
8,17f69932fefl0i32hlnekz682ixnvc,Prophet,7,10,14,8,11,10,7,16,10
9,17f699f7f4cl0i32huaj53vkdxeh7b,Samurai,9,12,11,13,12,15,9,8,8
10,17f69ee8607l0i32idtlwxck1pcnha,Warrior,8,11,12,11,10,16,10,8,9
11,17f699f7b88l0i32igi1s4fq0046de,Enchanted Knight,5,10,13,11,15,16,5,5,5
12,17f696a77e2l0i32ijd9jdi2d0lbe6,Bloody Wolf,5,14,11,12,16,7,9,6,6
13,17f69a15924l0i32ioiaydv6hkjxhj,Champion,5,13,9,12,14,5,15,11,11

In [ ]:
def fromDictToDf(df_classes):
    stats_df = pd.DataFrame([json.loads(stats.replace("'", '"')) for stats in df_classes['stats']])
    return pd.concat([df_classes[['id', 'name']], stats_df], axis=1)

In [13]:
l = [i for i in df_weapons['attack']]

In [14]:
pd.DataFrame(eval(df_weapons['attack'][0]))

   name  amount
0   Phy     113
1   Mag       0
2  Fire       0
3  Ligt       0
4  Holy       0
5  Crit     100